<ul class="media-list">
  <% dreams.each do |dream| %>
    <li style="padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    background: #FFF;
    border: solid 3px #6091d3;/*線*/
    border-radius: 10px;/*角の丸み*/">
      <div class="media-left">
        
      </div>
      <div class="media-body">
        <div>
          <% if dream.user.image.present? %>
          <%= image_tag dream.user.image.url (:thumb)%><%= link_to dream.user.name, user_path(dream.user) %> <span class="text-muted">posted at <%= dream.created_at.strftime("%Y-%m-%d %H:%M") %></span>
          <% else %>
          <%= image_tag ("/images/tamago.1.jpeg") %>
        <% end %>
        <div style="width:400px;">
          <h3><p style="word-break: break-all;">
            <div><%= dream.content %></div>
          </p></h3>
          <div style="display:inline-block;"><%= render 'sharedreams/share_button', dream: dream %></div>
          <% if current_user != dream.user %>  
          <div style="display:inline-block;"><%= render 'relationships/follow_button', dream: dream %></div>
          <% end %>
          <div style="display:inline-block;"><%= link_to "#{dream.user.name}にメッセージ(#{dream.comments.size})", dream_path(dream), class: 'btn btn-success' %></div>
          <div style="display:inline-block;">
          <% if current_user == dream.user %>
            <%= link_to '編集', edit_dream_path(dream) , class: 'btn btn-default' %>
          <% end %>
        </div>
      </div>
    </li>
  <% end %>
</ul>