<ul class="media-list">
  <% dreams.each do |dream| %>
    <li class="dream_form">
      <div class="media-left">
      </div>
      <div class="media-body">
        <div>
          <% if dream.user.image.present? %>
          <%= image_tag dream.user.image.url (:thumb)%><%= link_to dream.user.name, user_path(dream.user) %> <span class="text-muted"> <%= dream.created_at.strftime("%Y-%m-%d %H:%M") %></span>
          <% else %>
          <%= image_tag ("/images/tamago.1.jpeg") %>
        <% end %>
        <div class="dream_content_frame">
          <h3><p class="dream_content_frame_break">
            <div><%= dream.content %></div>
            <% if dream.image.present? %>
            <div><%= image_tag dream.image.url%></div>
            <% end %>
          </p></h3>
          <div class="share_button_dream"><%= render 'sharedreams/share_button', dream: dream %></div>
          <% if current_user != dream.user %>  
            <div class="follow_button_dream"><%= render 'relationships/follow_button', dream: dream %></div>
          <% end %>
          <div class="message_button_dream"><%= link_to "メッセージ(#{dream.comments.size})", dream_path(dream), class: 'btn btn-success' %></div>
          <div class="edit_button_dream">
          <% if current_user == dream.user %>
            <%= link_to '編集', edit_dream_path(dream) , class: 'btn btn-default' %>
          <% end %>
        </div>
      </div>
    </li>
  <% end %>
</ul>