<ul class="media-list">
  <% dreams.each do |dream| %>
    <li class="media">
      <div class="media-left">
        
      </div>
      <div class="media-body">
        <div>
          <% if dream.user.image.present? %>
          <%= image_tag dream.user.image.url (:thumb)%><%= link_to dream.user.name, user_path(dream.user) %> <span class="text-muted">posted at <%= dream.created_at.strftime("%Y-%m-%d %H:%M") %></span>
          <% else %>
          <%= image_tag ("/images/tamago.1.jpeg") %>
        <% end %>
        <div>
          <p><%= dream.content %></p>
          <%= render 'sharedreams/share_button', dream: dream %>
          
          <% if current_user != dream.user %>  
          <%= render 'relationships/follow_button', dream: dream %>
          <% end %>
          
           <%= link_to 'コメントする', dream_path(dream) %>(<%= dream.comments.size %>)
        </div>
        <div>
          <% if current_user == dream.user %>
            <%= link_to 'edit', edit_dream_path(dream) %>
            <%= link_to "Fin", dream, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-xs' %>
          <% end %>
        </div>
        
      </div>
    </li>
  <% end %>
</ul>