<h3><%= @dream.user.name %></h3>
<h1><%= @dream.content %></h1>
<h2>メッセージ一覧</h2>

<% @comments.each do |c| %>
  <div>
    <% if c.user.image.present? %>
    <%= link_to c.user do %><%= image_tag c.user.image.url (:thumb) %>  <%= c.user.name %> <% end %>posted at<%= c.created_at.strftime("%Y-%m-%d %H:%M") %>
    <% else %>
    <%= image_tag ("/images/tamago.1.jpeg") %>
    <% end %>
    
    <% if current_user == c.user %>
    <%= link_to "削除", [@dream,c], method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-xs' %>
    <% end %>
    <br><%= c.content %>
     <hr>
   </div>
<% end %>


<%= form_for [@dream, @comment] do |f| %>
  <div class = "form-group col-md-8 ">

    <%= render 'layouts/error_messages' , model: @comment %>
    <%= f.text_area :content, class: 'form-control', rows: 3%>
    <br>
    <%= f.submit 'コメントする', class: 'btn btn-primary btn-block'%>
  </div>
<% end %>
<br>
<div class = "col-md-8">
<%= link_to "ホームへ戻る", @dream.user %>
</div>
