<% if users.any? %>
  <ul class="media-list" >
    <!--  検索拡張機能  -->
    <h4>ユーザーを探す</h4>
    <%= form_tag(users_path, :method => 'get' ) do %>
      <%= text_field_tag :search %>
      <%= submit_tag '検索', :name => nil, class:'btn btn-primary'%>
    <% end %>
    <% users.each do |user| %>
      <li style="padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    color: #6091d3;/*文字色*/
    background: #FFF;
    border: solid 3px #6091d3;/*線*/
    border-radius: 10px;/*角の丸み*/" >
        <div class="media-left">
          <% if user.image.present? %>
          <%= image_tag user.image.url(:thumb) %>
          <% else %>
          <%= image_tag ("/images/tamago.1.jpeg") %>
          <% end %>
        </div>
      <div class="media-body">
        <div>
         <h4><%= link_to user.name, user_path(user) %></h4>
        </div>
        <div>
         <p style="display:inline-block;color:black;">dream:<%= user.self_content %></p>
         <%= link_to "#{user.name}のsharedoriへ", user_path(user) ,class: 'btn btn-warning'%></h4>
        </div>
      </div>
      </li>
    <% end %>
  </ul>
<% end %>