<div class="row">
  <aside class="col-xs-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @user.name %></h3>
      </div>
      <div class="panel-body">
        <% if @user.image.present? %>
          <%= image_tag @user.image.url %>
        <% else %>
          
        <% end %>
      </div>
      <%= @user.self_content %>
    </div>
    <% if current_user == @user %>
    
    <%= link_to 'アカウントを削除する', @user, method: :delete, data: { confirm: '本当に削除してよろしいですか？' }, class: 'btn btn-danger' %>
    <% end %>
  </aside>
  <div class="col-xs-8">
    <ul class="nav nav-tabs nav-justified">
      <li class="<%= 'active' if current_page?(user_path(@user)) %>"><%= link_to user_path(@user) do %>ShareDreams <span class="badge"><%= @count_user_sharedreams %></span><% end %></li>
      <li class="<%= 'active' if current_page?(followdreams_user_path(@user)) %>"><%= link_to followdreams_user_path(@user) do %>FollowDreams <span class="badge"><%= @count_followdreams %></span><% end %></li>
      <li class="<%= 'active' if current_page?(dreamfollowers_user_path(@user)) %>"><%= link_to dreamfollowers_user_path(@user) do %>Dreamfollowers <span class="badge"><%= @count_dreamfollowers %></span><% end %></li>
    </ul>
    <div>
    <%= render 'users/users', users: @dreamfollowers %>
    </div>
  </div>
</div>