<div class="row">
  <aside class="col-xs-6 col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @user.name %></h3>
      </div>
      <div class="panel-body">
        <% if @user.image.present? %>
          <%= image_tag @user.image.url %>
        <% else %>
          <%= image_tag ("/images/tamago.jpeg") %>
        <% end %>
      </div>
      <%= @user.self_content %>
      
    </div>
    <% if current_user == @user %>
    <h4>Dreams</h4>
    <%= render 'dreams/dreams', dreams: @dreams %>
    　<% if current_user == @user %>
    　<br>
    <%= link_to 'プロフィール更新、削除', edit_user_path(@user) %>
    　<% end %>
    <% end %>
  </aside>
  <div class="col-xs-6 col-md-8">
    <ul class="nav nav-tabs nav-justified">
      <li class="<%= 'active' if current_page?(user_path(@user)) %>"><%= link_to user_path(@user) do %>ShareDreams <span class="badge"><%= @count_user_sharedreams %></span><% end %></li>
      <li class="<%= 'active' if current_page?(followdreams_user_path(@user)) %>"><%= link_to followdreams_user_path(@user) do %>FollowDreams <span class="badge"><%= @count_followdreams %></span><% end %></li>
      <li class="<%= 'active' if current_page?(dreamfollowers_user_path(@user)) %>"><%= link_to dreamfollowers_user_path(@user) do %>Dreamfollowers <span class="badge"><%= @count_dreamfollowers %></span><% end %></li>
    </ul>
    <div>
    <%= render 'dreams/dreams', dreams: @sharedreams %>
    </div>
  </div>
</div>