<% if logged_in? %>
  <div class="row">
      <aside class="col-xs-6 col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @user.name %></h3>
      </div>
      <div class="panel-body">
        <% if @user.image.present? %>
          <%= image_tag @user.image.url %>
        <% else %>
          <%= image_tag ("/images/tamago.jpeg") %>
        <% end %>
      </div>
      <div class= user_self_content_index><%= @user.self_content %></div>
    </div>
    </aside>
    <div class="col-xs-6 col-md-8">
    <button type="button" class="btn btn-primary btn" data-toggle="modal" data-target="#dream_tweet">
      夢をつぶやく
    </button>
    <!-- モーダル・ダイアログ -->
    <div class="modal fade" id="dream_tweet" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
            <h4 class="modal-title">夢をつぶやく</h4>
          </div>
          <div class="form">
            <div class="modal-body">
              <%= form_for(@dream) do |f| %>
              <%= f.text_area :content, class: 'form-control', rows: 6 ,placeholder:"シェアするとフォロー、コメントできます。シェアするまで、つぶやきは共有されません。"%>
              <%= f.file_field :image, class: 'form-control' %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
              <%= f.submit '夢をつぶやく', class: 'btn btn-primary btn' %>
            </div>
              <% end %>
          </div>
        </div>
      </div>
    </div>
       <%= link_to 'シェアドリへ', user_path(current_user), class: 'btn btn-success' %>
       <br></br>
      <%= link_to 'ユーザー一覧', users_path, class: 'btn btn-info' %>
    </div>
  </div>
  <div>
  <%= render 'dreams/dreams', dreams: @dreams %>
  </div>

<% else %>
<div class="center">
  <div class="text-center">
      <h1 class="Share">Share</h1><h1 class="Dori">Dori</h1>
      <h3 class="topword_color">夢からつながるSNS</h3>
    <div class="text-center">
      <%= link_to '新規登録', signup_path, class: 'btn btn-lg btn-primary' %>
      <%= link_to 'Login', login_path, class: 'btn btn-lg btn-warning' %>
    </div>
  </div>
</div>
<% end %>