<% if logged_in? %>
  <div class="row">
      <aside class="col-xs-6 col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @user.name %></h3>
      </div>
      <div class="panel-body">
        <% if @user.image.present? %>
          <%= image_tag @user.image.url %>
        <% else %>
          <%= image_tag ("/images/tamago.jpeg") %>
        <% end %>
      </div>
      <div style="border-top: 1px solid #ccc;"><%= @user.self_content %></div>
    </div>
    </aside>
    <div class="col-xs-6 col-md-8">
       <%= form_for(@dream) do |f| %>
        <div class="form-group">
          <%= f.text_area :content, class: 'form-control', rows: 3 %>
        </div>
        <%= f.submit '夢をつぶやく', class: 'btn btn-primary btn-lg' %>
      <% end %>
      <br></br>
       <%= link_to 'シェアドリへ', user_path(current_user), class: 'btn btn-success' %>
      <br></br>
      <%= link_to 'ユーザー一覧', users_path, class: 'btn btn-info' %>
    </div>
  </div>
  <div>
  <%= render 'dreams/dreams', dreams: @dreams %>
  </div>
 
<% else %>
  <div class="center">
    <div class="text-center">
      <h1>ShareDori</h1>
      <h3>夢をシェアして、<br>応援して、<br>より良い自分へ</h3>
      <br>
      <h2>シェアどりはじめよ?<h2>
      <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
<% end %>